{
    "useTabs": false,
    "endOfLine": "lf",
    "printWidth": 88,
    "trailingComma": "none",
    "proseWrap": "always",
    "overrides": [
        {
            "files": ["*.js", "*.html", "*.json", "*.prettierrc", "*.css"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
